*.yml linguist-language=Python 
*.html linguist-language=HTML
*.js linguist-language=Python 
*.css linguist-language=Python
*.sql linguist-language=Python
*.uml linguist-language=Python
*.cmd linguist-language=Batchfile
*.bat linguist-language=Batchfile
*.py linguist-language=Python
