*.yml linguist-language=Python
*.js linguist-language=JavaScript
*.sql linguist-language=Python
*.uml linguist-language=Python
*.cmd linguist-language=Batchfile
*.bat linguist-language=Batchfile
*.py linguist-language=Python
